.user-list {
    display: grid;
    background: -webkit-linear-gradient(#da98f5, #af63f5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 7px 0 #030303;
    width: 30%;
    max-height: 200px;
    gap: 10px;
    overflow: auto;
}